img {
  display: none;
}

body,
html {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
}
#container {
  /* aspect-ratio: 1; */
  /* border: 1px solid #aaa;
  box-shadow: 0 0 10px #00000022; */
  margin: 20px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  position: relative;
}
canvas {
  aspect-ratio: 1;
  max-height: 100%;
  max-width: 100%;
}
.debug {
  position: absolute;
  top: 0;
  left: 0;
}
